<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
</head>
<body>
<form>
    <table style="width:100%">
        <tr>
            <th>Stock</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Sell</th>
        </tr>
        <tr th:each="stockHolder : ${user}">
            <td th:class="${stockHolder.}"></td>
            <td th:text="${bankAccountStat.index+1}"></td>
            <td th:text="${bankAccount.getName()}"></td>
            <td th:text="${bankAccount.getBalance()}"></td>
            <td th:text="${bankAccount.getAnimalType()}"></td>
            <td th:text="${bankAccount.getGood()} ? 'Good Guy' : 'Bad Guy'"></td>
            <td class="button" th:action="${bankAccount.addToBalance(bankAccount)}">
                <input type="submit" value="Sell"/></td>
        </tr>
    </table>
</form>
</body>
</html>